body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
    margin: 0;
    color: #333;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

#main {
    display: flex;
    gap: 20px; /* Добавляет пространство между sidebar и content */
}

#sidebar {
    width: 200px; /* Фиксированная ширина для sidebar */
}

#content {
    flex-grow: 1; /* content занимает все доступное пространство */
}

.robot, .subsystem, .package {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: box-shadow 0.3s ease; /* Плавное изменение тени */
}

#robots {
    display: flex;
    align-items: center;
    overflow-x: auto; /* Позволяет прокручивать роботов горизонтально, если они не помещаются */
    flex-grow: 1; /* Роботы займут всё доступное пространство */
    margin-left: 10px; /* Отступ слева от кнопки */
}

.robot:hover, .subsystem:hover, .package:hover, .task:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.2); /* Тень при наведении */
}

.robot, .subsystem {
    text-align: center;
    margin-bottom: 10px; /* Отступ снизу для роботов и подсистем */
}

.robot-name, .subsystem-name {
    display: block; /* Имена отображаются на отдельной строке */
    font-weight: bold;
    margin-bottom: 5px; /* Отступ после имени */
}

.select-subsystems, .delete-robot {
    margin-top: 5px; /* Отступ сверху для кнопок */
    display: block; /* Кнопки занимают всю ширину контейнера */
}

button {
    background-color: #f8db8d;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Плавное изменение цвета фона */
}

button:hover {
    background-color: #f1ca6e; /* Цвет фона при наведении */
}

/* ------------------- Стили для модального окна -----------------*/

.subsystem-checkbox-container {
    padding-left: 0; /* Нет отступа для корневых подсистем */
}

.subsystem-checkbox-container .children {
    padding-left: 20px; /* Отступ для подчиненных подсистем */
    border-left: 1px solid #eee; /* Визуальное отделение уровней иерархии */
}

/* Стили для модального окна остаются без изменений */
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.overlay {
    display: none; /* Скрыто по умолчанию */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Полупрозрачный черный фон */
    z-index: 999; /* Чтобы оверлей был под модальным окном */
}

/* ------------------- Стили для тумблера -----------------*/
.switch {
    position: relative;
    display: inline-block;
    width: 120px; /* ширина кнопки */
    height: 50px; /* высота кнопки */
    margin: 10px;
    /*position: relative; /* Для позиционирования подсказки */
}

/* Скрытие стандартного чекбокса */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* Стили для слайдера/тумблера */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc; /* серый цвет фона для выключенного состояния */
    transition: .4s;
    border-radius: 34px; /* закругленные углы */
}

.slider:before {
    position: absolute;
    content: "выкл";
    color: #aaa; /* более темный серый цвет текста для надписи "Остановлено" */
    display: block;
    width: 120px; /* ширина должна совпадать с шириной .slider */
    height: 50px; /* высота должна совпадать с высотой .slider */
    line-height: 50px; /* центрирование текста по вертикали */
    text-align: center; /* центрирование текста по горизонтали */
    background-color: #ccc; /* серый цвет фона для выключенного состояния */
    transition: .4s;
    border-radius: 34px; /* закругленные углы */
}

/* Стиль для чекбокса, когда он в состоянии :checked */
input:checked + .slider {
    background-color: #4caf50; /* зеленый цвет фона для включенного состояния */
}

input:checked + .slider:before {
    content: "ВКЛ";
    background-color: #4caf50; /* зеленый цвет фона для текста "ВКЛ" */
    color: white;
}

/* Добавление эффектов при фокусе */
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

/* Стили для подсказки */
.switch .tooltip {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px; /* Отцентровать подсказку */
    opacity: 0;
    transition: opacity 0.6s;
}

/* Стиль для стрелки подсказки */
.switch .tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

/* Показываем подсказку при наведении */
.switch:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

/* Анимация пульсации для индикации процесса */
@keyframes pulse {
    0%, 100% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.1);
        opacity: 0.5;
    }
}

/* Стили для кнопки, которая находится в процессе */
.working-progress {
    animation: pulse 2s infinite;
}

/* Стили для неактивной кнопки */
button:disabled {
    background-color: #ccc; /* Серый фон для неактивной кнопки */
    cursor: not-allowed;   /* Курсор в виде знака запрета */
}



